
.core {
    width: 1200px;
    margin: auto;
}
header {
    margin: 20px;
}
header h1 {
    font-size: 250%;
    font-style: italic;
    font-weight: 500;
    width: 30%;
    float: left;
}
header nav {
    margin: 5px 0 0 0;
    float: left;
    width: 70%;
}
.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: greenyellow;
    padding: 5px;
}
.tabs a span.active {
    background: yellow;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

footer h3 {
    font-size: 150%;
    font-weight: 300;
    width: 30%;
    margin: 10px 0 10px 0;
 }
footer .contact {
    float: left;
    width: 600px;
}

footer .sitemap {
    float: left;
    width: 600px;
}

.sitemap ul li {
    font-size: small;
}
.left-side-sitemap {
    float: left;
    margin: 0 5px 0 0;
}
.right-side-sitemap {
    float: left;
    margin: 0 0 0 5px;
}

