* {
    margin: 0;
    padding: 0;
}
.core {
    width: 1200px;
    margin: auto;
}
header h1{
    width: 30%;
    float: left;
}
header p{
    float: left;
    width: 70%;
    /*
    background: red;
    */
    margin-top: 10px;
}

.comment-input input {
    margin: 0 10px 0 0;
    height: 30px;
}

.comment-input button {
    height: 32px;
}

.comment-input p {
    margin: 0 10px 10px 10px ;
}

.comments p:nth-child(even){
    background: chartreuse;
}
.comments p:nth-child(odd){
    background: gainsboro;
}

.comment-input {
    width: 30%;
    float: left;
}
.comments {
    width: 70%;
    float: left;
}

.comments p {
    margin: 5px 0 5px 0;
    padding: 5px;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}
