* {
    margin: 0;
    padding: 0;
}
header, main, footer {
    width: 900px;
}
header h1{
    width: 300px;

    float: left;
}
header p{
    width: 900px;

}

footer {

}

.comments p:nth-child(even){
    background: chartreuse;
}
.comments p:nth-child(odd){
    background: gainsboro;
}

.comment-input {
    width: 300px;
}
.comments {
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
